.exerciseList {
    width: 100%;
    height: 100vh;
background-color: #38d39f;
}
table {
   width: 90%;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.6);
    border: none;
}
th {
    font-size: 1.3rem;
    background-color: #27a87d;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 0;
    text-align: center;
   // border: 2px solid #ddd;
}
td {
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    background-color: #fff;
    padding: 8px 0;
    border: none;
}
tbody {
    border: none;
}
.table-btn {
    font-size: 1rem;
    padding: 5px 1.5rem;
    box-shadow:  0 5px 5px rgba($color: #777, $alpha: 0.8);
    background-color: #27a87d;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:not(:last-child) {
        margin-right: 7px;
    }
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}